.photo-grid {
  display: flex;
  flex-wrap: wrap;
}

.photo-grid__item {
  position: relative;
  width: 30%;
  margin-right: 3.3%;
  margin-bottom: 20px;
}

.photo-grid__item:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}